.header {
    padding: 30px 0 20px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 40px;
}

.header__link-btn {
    color: #fff;
    border: solid #CD06FF 3px;
    border-radius: 10px;
    padding: 12px 32px 13px;
    font-size: 22px;
    font-weight: 700;
    line-height: 30px;
}

.header__link-btn:hover {
    background-color: #6C0287;
    border: solid 3px  #6C0287;
}

.header__link-btn:focus {
    background-color: #6C0287;
    border: none;
}

.header__link-btn:active {
    background-color: #640AA3;
    border: solid #000 1px;
}

.menu__link {
    font-size: 22px;
    line-height: 50px;
    font-weight: 400;
}

.hero__text {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    font-weight: 400;
    font-size: 30px;
    max-width: 193px;
    line-height: 34.5px;
    text-align: center;
}

.hero__text-strong {
    font-size: 100px;
    font-weight: 900;
    line-height: 141.02px;
    color: #CD06FF;
}

.hero__text-size {
    font-size: 75px;
    line-height: 105.76px;
    color: #CD06FF;
    font-weight: 900;
    font-variant-caps: all-small-caps;
}

.hero__wrap {
    display: flex;
    gap: 40px;
    align-items: flex-end;
    margin-bottom: 150px;
    position: relative;
    z-index: 20;
}

.hero__link-booking {
    color: #fff;
    background-color: #6C0287;
    box-shadow: 3px 3px 5px 5px rgba(68, 15, 81, 0.6),
                -3px -3px 5px 5px rgba(68, 15, 81, 0.6);
    border-radius: 10px;
    padding: 25px 69px;
    font-size: 26px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    position: relative;
    z-index: 10;
}

.hero__link-booking:hover {
    background-color: #840AA3;
}

.hero__link-booking:focus {
    background-color: #840AA3;
}

.hero__link-booking:active {
    background-color: #640AA3;
}

.hero__link {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 90px;
    z-index: 3;
}

.hero__link-img {
    outline: 1px solid transparent;
}

.hero__link .hero__link-img {
    stroke: #FFFFFF;
}

.hero__link:hover .hero__link-img {
    stroke: #6C0287;
    fill: #FFFFFF;
}

.hero__link:focus .hero__link-img {
    outline-color: #CD06FF;
}

.hero__link:active .hero__link-img {
    stroke: #fff;
    fill: #CD06FF;
}

.hero__link:active .hero__svg-path:first-child {
    stroke: #CD06FF;
}

.hero__title {
    font-weight: 900;
    font-size: 150px;
    line-height: 150px;
    letter-spacing: -0.1em;
    margin: 0;
    position: relative;
    z-index: 1;
}

.hero__subtitle {
    font-size: 28px;
    line-height: 50px;
    padding-left: 100px;
    position: relative;
    margin: 0 0 35px 0;
}

.section {
    padding-bottom: 50px;
    padding-top: 50px;
}

.hero__container {
    min-height: 827px;
    position: relative; 
    padding-bottom: 30px;
}

.hero__container:after {
    content: " ";
    background-image: url("../images/hero/bg-hero.png");
    position:absolute;
    right: 30px;
    bottom: 0;
    background-size:contain;
    background-repeat: no-repeat;
    z-index: 2;
    min-width: 675px;
    min-height: 762px;
}

.title {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 50px;
}

.halls__title {
    margin-bottom: 60px;
}

.questions__title {
    margin-bottom: 40px;
}

.footer__title {
    margin-bottom: 54px;
}

.rest__title {
    max-width: 980px;
    margin: 0 auto 50px; /* Касаемо margin- это костылище??? */
}

.rest__list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px 20px;
}

.rest__item {
    flex-basis: 380px;
}

.rest__img {
    display: flex;
    align-items: flex-start;
    content: " ";
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 228px;
    padding: 166px 40px 6px ;
}

.rest__img_pic-vr {
    background-image: url("../images/about-rest/vr-glasses.jpg");
}

.rest__img_pic-audio {
    background-image: url("../images/about-rest/audio.jpg");
}

.rest__img_pic-karaoke {
    background-image: url("../images/about-rest/karaoke.jpg");
}

.rest__img_pic-games {
    background-image: url("../images/about-rest/games.jpg");
}

.rest__img_pic-movie {
    background-image: url("../images/about-rest/movie.jpg");
}

.rest__img_pic-play-station {
    background-image: url("../images/about-rest/play-station.jpg");
}

.halls-list {
    list-style: none inside;
    padding: 0;
    margin: -10px;
    font-size: 0;
    line-height: 0;
}

.halls-list::after {
    content: " ";
    display: block;
    clear: both;
}

.halls__item {
    display: inline-block;
    background-position: center center;
    padding: 135px 0 134px;
    margin: 10px;
    background-size: cover;
    max-width: calc(50% - 20px);
    width: 100%;
}

.halls__item_pic-80s {
    background-image: url("../images/halls/80s-vibes-bg.jpg");
}

.halls__item_pic-star {
    background-image: url("../images/halls/star-wars-bg.jpg");
}

.halls__item_pic-wild {
    background-image: url("../images/halls/wild-west-bg.jpg");
}

.halls__item_pic-neon {
    background-image: url("../images/halls/neon-bg.jpg");
}

.halls__link {
    color: inherit;
    font-weight: 700;
    line-height: 80px;
    font-size: 70px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    display: block;
}

.booking {
    background-color: #440F51;
    padding: 80px 0;
}

.booking__title {
    margin-bottom: 40px;
}

.booking__fieldset {
    flex-wrap: wrap;
    gap: 60px;
    display: flex;
    justify-content: space-between;
    border: 0 none;
    padding: 0;
}

.booking__fieldset:not(:last-child) {
    margin-bottom: 60px;
}

.booking__fieldset-title {
    text-align: center;
    margin-bottom: 40px;
    font-size: 24px;
    line-height: 20px;
    font-weight: 700;
}

.booking__radio-hall {
	width: 250px;
    height: 55px; 
}

.booking__label-hall {
	display: inline-block;
	cursor: pointer;
	padding: 7px 15px 8px;
	font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    text-transform: uppercase;
    text-align: center;
    color: #000000;
    background-color: #fff;
	border-radius: 8px;
	user-select: none;
    width: 250px;
    height: 55px; 
}



/* Hover */
.booking__label-hall:hover {
    background-color: #EADEED;
    border: solid 3px #640AA3;
	/* color: #666; */
}

/* .booking__label-hall:focus {
    background-color: #fff;
    border: solid 3px #640AA3;
} */
/* Checked -работает как Focus???*/  
.booking__radio-hall:checked + .booking__label-hall {
	background-color: #fff;
    border: solid 3px #640AA3;
}

.booking__label-hall:active {
    background-color: #6C0287;
    color: #fff;
    border: solid 3px #FFFFFF;
}

/* Disabled */
.booking__radio-hall:disabled + .booking__label-hall {
	background: #efefef;
	color: #666;
}

.booking__fieldset_style-content {
    justify-content: flex-end;
    gap: 100px;
}

.booking__fieldset-games {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    min-width: 300px;
    font-size: 22px;
    font-weight: 400;
    line-height: 25.3px;
    border: 0 none;
    padding: 0;
}

.booking__fieldset-subtitle {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    margin-bottom: 23px;
}

.booking__radio-games {
    width: 27px;
    height: 27px;
    margin-right: 12px;
    vertical-align:bottom;
}

.booking__radio-games:focus, .booking__checkbox-games:focus {
    outline: solid 1px #CD06FF;
}

.booking__checkbox-games {
    width: 25px;
    height: 25px;
    margin-right: 12px;
    display: inline-block;  /* нужно ли это св-во оставить??? без него ничего не меняется */
    vertical-align: bottom;
}

.booking__fieldset_style-center {
    justify-content: center;
}

.booking__fieldset-wrap {
    display: flex;
    flex-direction: row;
    gap: 50px;
    max-width: 980px;
    align-items: flex-end;
}

.booking__fieldset-wrap-input-time-data-numb {
    display: flex;
    flex-basis: 300px;
    flex-direction: column;
    gap: 36px;
}

.booking__fieldset-wrap-input-time-data {
    position: relative;
    display: flex;
    max-width: 300px;
    gap: 32px;
    justify-content: space-between;
}

.booking__fieldset-input_style-shrink {
    width: 134px;
    max-height: 52px;
}

.booking__fieldset-input::-webkit-datetime-edit {
    unicode-bidi: normal;
    font-size: 16px;
    line-height: 0.5;
}

.booking__fieldset-input::-webkit-calendar-picker-indicator {
    width: 20px;
}

.booking__fieldset-input {
    display: block;
    font-size: 22px;
    line-height: 1.267;
    display: block;
    width: 100%;
    resize: none;
    padding: 11px;
}

.booking__fieldset-input-tel:focus {
    border: solid 2px #CD06FF;
}

.booking__fieldset-wrap-name-tel {
    display: flex;
    flex-basis: 300px;
    flex-direction: column;
    gap: 14px; 
}

.booking__fieldset-label {
    display: block;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    margin-bottom: 6px;
}

.booking__fieldset-wrap-name-tel_style-basis {
    flex-basis: 280px;
}

.booking__button {
    color: #6C0287;
    font-size: 22px;
    font-weight: 700;
    line-height: 28px;
    padding: 16px ;
    border-radius: 10px;
    background-color: #FFFFFF;
    text-transform: uppercase;
    max-width: 280px;
    width: 100%;
}

.booking__button:hover {
    background-color: #EADEED;
    border: solid 3px #6C0287;
}

.booking__button:focus {
    background-color: #FFFFFF;
    border: solid 3px #6C0287;
}

.booking__button:active {
    background-color: #EADEED;
    border: none;
}

.booking-wrap-all {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-end ;
}

.about__box {
    font-size: 20px;
    margin-bottom: 48px;
    position: relative;
}

.about__text {
    font-size: 20px;
    line-height: 28px;
    margin-top: 0;
    margin-bottom: 28px;
}

.about__text:last-child {
    margin-bottom: 0;
}

.about__blockquote {
    position: relative;
    padding-left: 40px;
    text-align: right;
    margin: 0;
}

.about__quote {
    font-size: 44px;
    line-height: 50px;
    font-weight: 400;
    text-align: left;
    text-transform: uppercase;
    white-space: pre-line;
    margin: 0 0 40px 0;
}

.about__quote::after {
    content: ' ” ';
    font-weight: 900;
    color: #6C0287;
}

.about__quote::before {
    content: ' “ ';
    position: absolute;
    left: 0;
    top: -8px;
    font-weight: 900;
    color: #6C0287;
}

.about__autor {
    max-width: 410px;
    text-align: left;
    vertical-align: middle;
    padding-right: 50px;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    padding-right: 50px;
}

.about__avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
    vertical-align: middle;
    margin-right: 30px;
}

.about__caption {
    font-size: 20px;
    max-width: 240px;
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.fieldset {
    font-size: 18px;
}

.about__image {
    display: inline-block;
    min-height: 596px;
    vertical-align: top;
    width: calc(100% - 586px);
    max-width: 51%;
    margin-right: 80px;
    object-fit: contain;
}

.about__wrapper {
    display: inline-block;
    max-width: 487px;
    vertical-align: top
}

.rewiews__list {
    margin: 0 auto;
    max-width: 980px;
    font-size: 0;
}

.rewiews__element:not(:last-child) {
    margin-bottom: 50px;
}

.rewiews__autor {
    display: inline-block;
    margin-right: 20px;
}

.rewiews__avatar {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
    margin-bottom: 11px;
}

.rewiews__caption {
    text-align: center;
    font-size: 20px;
}

.rewiews__text {
    display: inline-block;
    max-width: calc(100% - 300px);
    vertical-align: top;
    padding-top: 52px;
    font-size: 20px;
}

.questions__element {
    font-weight: 700;
    font-size: 24px;
    line-height: 46px;
    padding: 30px 70px;
    margin-bottom: 20px;
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
}

.questions__element:nth-child(even) {
    color: #fff ;
    background-color: #440f51 ;
}

.questions__element:nth-child(odd) {
    background-color: #fff;
    color: #1C1A1A;
}

.questions__link:hover .questions__svg {
    stroke: #FFFFFF;
    fill: #6C0287;
}

.questions__link:hover .questions__svg-white {
    fill:#FFFFFF;
    stroke: #6C0287;
}

.questions__link:active .questions__svg .questions__svg-path{
    stroke: #6C0287;
    outline: transparent;
}

.questions__link:active .questions__svg-white .questions__svg-path {
    stroke: #FFFFFF;
}

.footer__contact {
    font-size: 24px;
    background-size: 32px;
    text-decoration: none;
    color: inherit;
    display: block;
    background-repeat: no-repeat;
    font-weight: 700;
    padding-left: 55px;
    font-style: normal;
}

.footer__contact_icon-adress {
    background-image: url("../images/social/location.svg");
    background-position-x: left;
    background-position-y: center;
    margin-top: 0;
    margin-bottom: 35px;
    max-width: 300px;
}

.footer__contact_icon-phone {
    background-image: url("../images/social/phone-call.svg");
    margin-bottom: 11px;
}

.footer__contact_icon-email {
    background-image: url("../images/social/email.svg");
    margin-bottom: 39px;
}

.list-social {
    list-style: none;
    font-size: 0;
    line-height: 0;
    padding:0;
}

.list-social__item {
    display: inline-block;
}

.list-social__item:not(:last-child) {
    margin-right: 26px;
}

.list-social__link {
    display: block;
}


.footer {
    background: linear-gradient(#1B1A1B, #370A37);
    border-radius: 6px;
    height: 100%;
    padding-bottom: 10px;
}

.footer__link,
.footer__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
}

.footer__link:not(:last-child) {
    margin-bottom: 6px;
}

.footer__wrap-link {
    display: flex;
    flex-direction: column;
}
.footer__address {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 155px;
}

.footer__img {
    width: calc(100% - 500px);
    object-fit: cover;
    object-position: left;
}